.container {
  padding: 15px;
  margin: 0;
  list-style: none;
  max-width: 370px;
  box-sizing: border-box;
  background: url(../../images/logos/ring.svg) no-repeat 10px 10px,
    linear-gradient(90deg, #fae1f3 4.07%, rgba(217, 241, 255, 0.8) 96.21%);
  border-radius: 20px;
  position: relative;
  color: rgba(0, 0, 0, 0.72);
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container:hover {
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.title {
  padding: 10px 0 0 35px;
  min-height: 100px;
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
}

.content {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.linksContainer {
  justify-self: end;
}

.linkContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  justify-self: flex-end;
}

.link {
  color: inherit;
}

.link:hover {
  opacity: 50%;
}
