.sectionContainer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  padding: 0 0 50px;
  margin: 0;
  max-width: 900px;
  color: #171a1f;  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  color: #171a1f;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-area: form;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'form slider';
}

