.section {
  padding-top: 100px;
}

.title {
  padding: 0 0 50px 50px;
  margin: 0;
  max-width: 900px;
  color: #b82070;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.cardsList {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
