.header {
  padding: 100px 0 50px 50px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #171a1f;
}

.cardsContainer {
  background: linear-gradient(0deg, rgba(236, 215, 233, 0.26), rgba(236, 215, 233, 0.26)),
    linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 50px;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
