.section {
  padding-top: 100px;
}

.title {
  padding: 0 0 50px 50px;
  margin: 0;
  color: #b82070;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.content {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  max-width: 900px;
  color: rgba(0, 0, 0, 0.9);
}

.link {
  text-decoration: none;
  color: #b82070;
  display: inline-block;
  border-bottom: 2px solid #b82070;
}

.link:hover {
  opacity: 75%;
}