.container {
  margin: 100px auto 0;
  max-width: 1000px;
  z-index: 0;
}

.header {
  text-align: center;
  padding: 0 0 50px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #171a1f;
}

.span {
  border-bottom: 2px solid #b82070;
  padding-bottom: 5px;
  color: #b82070;
}

.form {
  padding: 40px 45px;
  border: 2px solid rgba(236, 215, 233, 0.25);
  border-radius: 20px;
  display: flex;
  gap: 40px;
}

.logo {
  max-width: 40px;
  position: absolute;
  top: 25%;
  right: 20px;
  padding-left: 30px;
  fill: #ec238d;
}

.label {
  padding: 4px;
  box-sizing: border-box;
  border-radius: 23px;
  position: relative;
  display: block;
  width: 100%;
  background: linear-gradient(90deg, #ec238d 20%, #b82070 30%, #913475 50.02%, #862778 74.48%, #7d256f 100%);
}

.input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-left: 20px;
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 80px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.label:hover {
  background: #ec238d;
}

.label:focus {
  background: #ec238d;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: rgba(186, 33, 113);
}

.submitButton {
  display: block;
  border: none;
  border-radius: 16px;
  background: linear-gradient(90deg, #ec238d 0%, #bc3d96 38.02%, #8d297f 73.96%, #7d256f 100%);
  background-size: 200% auto;
  transition: 0.5s;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 280px;
  height: 80px;
  cursor: pointer;
}

.submitButton:hover {
  background-position: bottom right;
}
